<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href=" {{asset('assets/css/bootstrap.min.css')}} ">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            <script src=" {{asset('assets/js/bootstrap.min.js')}} "></script>
            <script src=" {{asset('assets/js/popper.min.js')}} "></script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Hosting zdjęć</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Strona główna</a>
                    <a class="nav-link" href="#">Najnowsze</a>
                    <a class="nav-link" href="#">Moje zdjęcia</a>
                    <a class="nav-link" href="#">Zaloguj się</a>
                    <a class="nav-link" href="#">Wyloguj się</a>
                    <a class="nav-link" href="#">Rejestracja</a>
                    </div>
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}
    </body>
</html>
